[phases.setup]
nixPkgs = ["php82", "composer", "nodejs_18", "npm"]

[phases.install]
cmds = ["composer install --no-dev --optimize-autoloader", "npm install && npm run build"]

[phases.build]
<<<<<<< HEAD:nixpacks.toml
cmds = [
  "php artisan key:generate --force",
  "php artisan config:cache",
  "php artisan route:cache",
  "php artisan view:cache",
  "php artisan storage:link || true",
  "php artisan migrate --force",
  "php artisan db:seed --force"
]
=======
cmds = ["php artisan key:generate", "php artisan config:cache", "php artisan route:cache", "php artisan view:cache"]
>>>>>>> parent of b251fb5 (gg2):nixpacls.toml


[start]
cmd = "php artisan serve --host=0.0.0.0 --port=$PORT"
