[phases.setup]
nixPkgs = ["php82", "composer", "nodejs_18", "npm"]

[phases.install]
cacheDirectories = ["vendor", "node_modules"]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm install",
  "npm run build"
]
