[phases.setup]
nixPkgs = ["pkgs.php82", "pkgs.composer", "pkgs.nodejs_18", "pkgs.npm"]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm install",
  "npm run build"
]

[phases.build]
cmds = [
  "php artisan key:generate --force",
  "php artisan config:cache",
  "php artisan route:cache",
  "php artisan view:cache"
]
